# User-specific stuff:
.idea/workspace.xml
.idea/vcs.xml
# Sensitive or high-churn files:
.idea/uiDesigner.xml

# Gradle:
.idea/libraries

# Mongo Explorer plugin:
## File-based project format:
## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
# JIRA plugin
# Crashlytics plugin (for Android Studio and IntelliJ)
